body {
    background-image: linear-gradient(135deg, rgb(20, 20, 20), rgb(60, 60, 60));
}

header {
    color: white;
    background-color: #2a607c;
}

.row {
    
}

.form-input {
    width: 100%;
}

.modal-fade {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

#username-register, #email-register, #password-register {
    width: 88%;
    margin: 10px;
}

.modal-content {
    display: inline;
    background-color: white;
    margin: 20% auto;
    padding: 20px;
    width: 100%;
    height: auto;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.modal-body {
    display: flex;
    flex-direction: row;
    text-align: start;
}

.close {
    color: #ccc;
    float: right;
    font-size: 30px;
}

.modal-title {
    margin-left: 100px;
    text-align: center;
    font-weight: bolder;
    overflow: hidden;
}

.close:hover, .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}